<div id="div-navbar" class="navbar">
	<div class="navbar-inner">
		<form class="navbar-search pull-left">
			<input type="text" id="input-filter" class="search-query" placeholder="<%= @text[:filter] %>">
		</form>
		<ul class="nav pull-right">
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @text[:actions] %> <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a id="button-generate-show" href="#"><i class="icon-asterisk"></i> <%= @text[:button_generate] %></a></li>
					<li><a id="button-get-json" href="#"><i class="icon-list"></i> Fetch form</a></li>
					<li><a id="button-lock" href="#"><i class="icon-lock"></i> <%= @text[:button_lock] %></a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div id="div-unlocked">
	{{#if matched.length}}
		<table class="table table-hover">
		<tbody>
		{{#each matched}}
			<tr json="{{stringify this}}">
			<td>
				<a class="button-login-matched" href="#">{{name}} ({{form.vars.user}})</a>
			</td>
			<td>
				<button class="button-details btn btn-mini btn-primary pull-right" type="button">
					<%= @text[:button_details] %>
				</button>
			</td>
			</tr>
		{{/each}}
		</tbody>
		</table>
	{{/if}}
	{{#if unmatched.length}}
		<table class="table table-hover">
		<caption><h3><%= @text[:unmatched_sites] %></h3></caption>
		<tbody>
		{{#each unmatched}}
			<tr json="{{stringify this}}">
			<td>
				<a class="button-login-unmatched" href="#">{{name}} ({{form.vars.user}})</a>
			</td>
			<td>
				<button class="button-details btn btn-mini btn-primary pull-right" type="button">
					<%= @text[:button_details] %>
				</button>
			</td>
			</tr>
		{{/each}}
	{{/if}}

	</tbody></table>
</div>

<div id="div-details">
	<div id="div-details-body"></div>

	<form>
		<div class="pull-right">
		<button id="button-hide-details" href="#" class="btn"><%= @text[:button_close] %></button>
		</div>
	</form>
</div>

<div id="div-generate">
	<form>
		<label><%= @text[:generate_length] %></label>
		<input type="text" id="input-password-length" value="<%= @config[:ui][:default_password_length] %>" size="4" />
		<label class="checkbox">
			<input type="checkbox" id="input-include-num" checked /> <%= @text[:generate_numbers] %>
		</label>
		<label class="checkbox">
			<input type="checkbox" id="input-include-punc" checked /> <%= @text[:generate_punctuation] %>
		</label>
		<label class="checkbox">
			<input type="checkbox" id="input-include-uc" checked /> <%= @text[:generate_upper_case] %>
		</label>
		<label class="checkbox">
			<input type="checkbox" id="input-pronounceable" /> <%= @text[:generate_pronounceable] %>
		</label>
		<label><%= @text[:generated] %></label>
		<input type="text" id="input-generated-password" size="30" />
	</form>

	<div class="pull-right">
		<a id="button-generate" href="#" class="btn btn-primary"><%= @text[:button_generate] %></a>
		<a id="button-hide-generate" href="#" class="btn"><%= @text[:button_close] %></a>
	</div>
	<div class="clearfix"></div>
</div>
