<div data-role="page" id="div-main" class="generated">
	<div data-role="header">
		<h1><%= @text[:title] %></h1>
		<a class="button-lock ui-btn-right" href="#" data-icon="delete"><%= @text[:button_lock] %></a>
	</div>

	<div data-role="content">
		<ul id="ul-pages-list" data-role="listview" data-inset="true">
			{{#each page}}
			<li><a href="#{{id}}" data-toggle="tab">{{name}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>
{{#each page}}
<div data-role="page" id="{{id}}" class="generated">
	<div data-role="header">
		<h1>{{name}}</h1>
		<a data-rel="back" href="#" data-icon="back"><%= @text[:button_back] %></a>
		<a class="button-lock" href="#" data-icon="delete"><%= @text[:button_lock] %></a>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-inset="true" data-filter="true">
		{{#each tag}}
			{{#if name}}
			<li data-role="list-divider">{{name}}</li>
			{{/if}}
			{{#each item}}
				{{#if_eq ../../id to='webform'}}
				<li><a href="#page-{{id}}">{{name}} ({{form.vars.user}})</a></li>
				{{else}}
				<li><a href="#page-{{id}}">{{name}}</a></li>
				{{/if_eq}}
			{{/each}}
		{{/each}}
		</ul>
	</div>
</div>
{{/each}}
{{#each page}}
	{{#each tag}}
		{{#each item}}
		<div data-role="page" id="page-{{id}}" class="generated">
			<div data-role="header">
				<h1>{{name}}</h1>
				<a data-rel="back" href="#" data-icon="back"><%= @text[:button_back] %></a>
				<a class="button-lock" href="#" data-icon="delete"><%= @text[:button_lock] %></a>
			</div>
			<div data-role="content">
				{{#if_eq type to='webform'}}
				<a class="button-login" href="#" data-role="button" json="{{stringify this}}"><%= @text[:log_in] %></a>
				<a href={{address}} data-role="button"><%= @text[:goto] %></a>
				<div data-role="collapsible"><h3><%= @text[:username] %></h3><p>{{form.vars.user}}</p></div>
				<div data-role="collapsible"><h3><%= @text[:password] %></h3><p>{{form.vars.pass}}</p></div>
					{{#if form.vars.secret}}
				<div data-role="collapsible"><h3><%= @text[:secret] %></h3><p>{{form.vars.secret}}</p></div>
					{{/if}}
					{{#if form.vars.note}}
				<div data-role="collapsible"><h3><%= @text[:note] %></h3><p>{{form.vars.note}}</p></div>
					{{/if}}
				{{else}}
				{{name}}
				{{/if_eq}}
			</div>
		</div>
		{{/each}}
	{{/each}}
{{/each}}
