<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<form class="navbar-search">
				<input type="text" id="input-filter" class="search-query" placeholder="<%= @text[:filter] %>">
			</form>
			<ul class="nav pull-right">
				<li><a id="button-generate-show" href="#"><i class="icon-asterisk"></i> <%= @text[:button_generate] %></a></li>
				<li><a id="button-lock" href="#"><i class="icon-lock"></i> <%= @text[:button_lock] %></a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="span3">
			<ul id="ul-nav" class="nav nav-pills nav-stacked">
				{{#each page}}
				<li><a href="#{{id}}" data-toggle="tab">{{name}}</a></li>
				{{/each}}
			</ul>
		</div>
		<div class="span9">
			<div id="div-tabs">
				<div class="tab-content">
				{{#each page}}
				<div id="{{id}}" class="tab-pane fade">
					{{#each tag}}
					<table class="table table-hover">
						{{#if name}}
						<caption>{{name}}</caption>
						{{/if}}

						{{#each item}}
						<tr json="{{stringify this}}">
						<td>
							{{#if_eq type to='webform'}}
							<a class="button-login" href="#">{{name}} ({{form.vars.user}})</a>
							{{else}}
							{{name}}
							{{/if_eq}}
						</td>
						<td>
							<button class="button-details btn btn-mini btn-primary pull-right" type="button">
								<%= @text[:button_details] %>
							</button>
						</td>
						</tr>
						{{/each}}
					</table>
					{{/each}}
				</div>
				{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>

<div id="div-details" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3></h3>
	</div>
	<div class="modal-body"></div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= @text[:button_close] %></a>
	</div>
</div>

<div id="div-generate" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= @text[:title_generate] %></h3>
	</div>
	<div class="modal-body">
		<form>
			<label><%= @text[:generate_length] %></label>
			<input type="text" id="input-password-length" value="<%= @config[:ui][:default_password_length] %>" size="4" />
			<label class="checkbox">
				<input type="checkbox" id="input-include-num" checked /> <%= @text[:generate_numbers] %>
			</label>
			<label class="checkbox">
				<input type="checkbox" id="input-include-punc" checked /> <%= @text[:generate_punctuation] %>
			</label>
			<label class="checkbox">
				<input type="checkbox" id="input-include-uc" checked /> <%= @text[:generate_upper_case] %>
			</label>
			<label class="checkbox">
				<input type="checkbox" id="input-pronounceable" /> <%= @text[:generate_pronounceable] %>
			</label>
			<label><%= @text[:generated] %></label>
			<input type="text" id="intput-generated-password" size="30" />
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= @text[:button_close] %></a>
		<a id="button-generate" href="#" class="btn btn-primary"><%= @text[:button_generate] %></a>
	</div>
</div>

<div id="div-token" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= @text[:title_token] %></h3>
	</div>
	<div class="modal-body">
		<input type="text" id="input-json" />
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= @text[:button_close] %></a>
		<a id="button-token" href="#" class="btn btn-success" target="_blank"><%= @text[:get_token] %></a>
		<a id="button-token-login" href="#" class="btn btn-primary"><%= @text[:log_in] %></a>
	</div>
</div>
